{% extends 'base1.html' %}

{% block title %}Efficient Frontier{% endblock %}

{% block main_body %}
<div class="box">
    <div class="col-md-8 middle-box">
        <div class="box box-warning">
            <div class="box-header with-border text-center">
                <h3 class="box-title"><strong>Efficient Frontier</strong></h3>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <h5>Portfolio Return</h5>
                    <input name="rtn" class="form-control" value="{{ info['port_return'] }}" readonly>
                </div>
                <div class="col-sm-4 text-center">
                    <h5>Portfolio Volatility</h5>
                    <input name="vol" class="form-control" value="{{ info['port_vol'] }}" readonly>
                </div>
                <div class="col-sm-4 text-center">
                    <h5>Sharpe Ratio</h5>
                    <input name="sharpe" class="form-control" value="{{ info['sharpe'] }}" readonly>
                </div>
            </div>

            <!-- for efficient frontier -->
            <div class="container-fluid text-center">
                {% if error %}
                    <div style="color:red">{{ error }}</div>
                {% else %}
                    <div id="ef" style="width: 600px; height: 400px;margin: 0 auto;"></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>

<script>
    // function draw_ef(){
        var chart = echarts.init(document.getElementById("ef"));
        var data = {{ ef['risk-return'] }};

        var port_data = [[{{ info['port_vol'] }}, {{ info['port_return'] }}] ];
        console.log(port_data)
        var option = {
            title: {
                text: 'Efficient Frontier',
                left: 'center'
            },
            legend: {
                bottom: 5
            },
            xAxis: {
                type: 'value',
                name: 'Risk',
                min: Math.min(data[0][0], port_data[0][0] )
            },
            yAxis: {
                type: 'value',
                name: 'Return',
                min: Math.min(data[0][1], port_data[0][1] )
            },
            series: [
                {
                    name: "Efficient Frontier",
                    data: data,
                    symbol: 'none',
                    type: 'line'
                },
                {
                    name: "Portfolio",
                    type: 'scatter',
                    data: port_data,
                    symbolSize: 10,
                    itemStyle: {
                        color: 'red'
                    }
                }
            ]
        };
        option&&chart.setOption(option);
    // }
</script>
{% endblock %}
